# Python / Django
__pycache__/
*.py[cod]
*.egg-info/

# Virtual env
.venv/
venv/
env/
myenv/

# Secrets & local settings
.env
.env.*
db.sqlite3

# User uploads & build artifacts
media/

# Project static sources (tracked) -> NON ignorare static/
# static/

# collectstatic output (NON va in repo)
staticfiles/
organigramma_bari/static/

# IDE
.idea/
.vscode/
.DS_Store

aggiorna_sorgenti.sh
gunicorn_start
restart.sh

