asgiref==3.8.1
design-django-theme==2.15.2
Django==3.2.18
django-sass-processor==1.4.2
django-widget-tweaks==1.5.0
et_xmlfile==2.0.0
gunicorn==21.2.0
openpyxl==3.1.5
packaging==25.0
python-dotenv==1.0.1
pytz==2025.2
sqlparse==0.5.3
whitenoise==6.6.0
