{% extends "base.html" %}
{% block extra_head %}
{% endblock extra_head %}
{% block header_center_right_zone %}
{% endblock header_center_right_zone %}
{% block first_column %}
{% endblock first_column %}
{% block second_column %}
{% endblock second_column %}
{% block third_column %}
{% endblock third_column %}
{% block fourth_column %}
{% endblock fourth_column %}
{% block footer_contacts_section %}
{% endblock footer_contacts_section %}
{% block container %}
<div class="container text-center my-4">
    <div class="col-md-8 offset-md-2 py-md-5 bd-content">
        {% block centered_container %}<h2>Conferma Eliminazione</h2>
        <p>Sei sicuro di voler eliminare la struttura "{{ struttura }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Elimina</button>
            <a href="{% url 'struttura_list' %}" class="btn btn-secondary">Annulla</a>
        </form>{% endblock %}
    </div>
</div>
{% endblock %}
